.categoryTitle{
    color: black;
    font-weight: bolder;
    font-size: large;
}

.separator{
border-color:#FBD3E5;
height: 1px;
opacity: 25%;
}

.mobileContainer{
    display: none;
}

@media  screen and (max-width: 960px) {
    
    .desktopContainer{
        display: none;
    }

    .mobileContainer{
        display: flex;
    }

    .categoryTitle{
        font-size: x-large;
    }
    
    .separator{
        opacity: 70%;
    }
}




