.mobileNav {
    display: none
}

@media screen and (max-width: 960px){
    .mobileNav{
        display: flex;
        align-items: center;

        .hamburgerMenu{
            display: flex;
            position: absolute;
            background: black;
            top: 80px;
            right: 0;
            width: 100%;
            font-size: x-large;

            ul {
                display: flex;
                list-style: none;
                flex-direction: column;
                margin: 1em 1em;
            }
        }

        .mobileLink{
            display: flex;
            color: white;
            &:hover{
                text-decoration: none;
                color:#FBD3E5;
            }   

        }
    }

    .hamburgerIcon{
        color: pink;
        border-color: black;
        position: absolute;
        right:  5%;
        cursor: pointer;
    }

    .closeIcon{
        color: pink;
        position: absolute;
        right:  5%;
        cursor: pointer;
    }
    
}

