.topNav{

    padding: .05em 0;
    background-color: black;
    

    a {
        color: white;
    }

   .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
   }

    ul{
        margin: unset;
        padding: unset;
        list-style: none;
    }

    .title{
        font-size: 1.5rem;
    }

    .socialLink{
        margin: .5em;
    }

    .latestBox{
        background-color: pink;
        padding: auto;

        p{
            color: white;
            margin: 1em;
        }
    }
   

}