.navBar {
    padding: 0em 0em;
    position: sticky;
    background-color: #4085b3;
    .imageContainer {
       
        padding: unset;
    }

    .linkContainer{
        margin-left: 0em;
    }

    .navContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 90%;
        padding: 0em 0em;
    }

    ul{
        margin: unset;
        padding: unset;
        list-style: none;
        font-size: xx-large;
    }

    
    .title {
        font-size: 1.5em;
    }

    .menuLink{
            color: white    ;
            padding: 0 9px;
            font-weight: bold;
            border-right: 5px solid;
            
            &:hover{
                text-decoration: none;
                color:#FDA300;
                border-right: 5px solid white;
            }   
    }

    .menuLinkLast{

        color: white    ;
            padding: 0 9px;
            font-weight: bold;
        
            &:hover{
                text-decoration: none;
                color:#FDA300;
            }    
    }

    .navLogo{
        overflow: hidden;
        cursor: pointer;
        transition: 2ms;  
        width: 35%;
        height: 35%;
        display: inline-block;
        margin-left: none;
        margin-right: none;
        background-position: none;
        box-shadow: none;
    
        &:hover{
            box-shadow: none;
            transition: none;
        }
    }

}

@media screen and (max-width: 1280px) {
    .navContainer{
        display: none;

        ul {
            display: none;
        }

        .navLogo {
            display: none;
        }
    }
}


@media screen and (max-width: 1280px) {

    .navLogo{
        overflow: hidden;
        display: none;
        cursor: pointer;
        transition: 2ms;  
        width: 50%;
        height: 50%;
    }
}


@media screen and (max-width: 1512px) {

    .navBar{
        ul{
            font-size: x-large;
        }
    }
}

@media screen and (max-width: 1306px) {

    .navBar{
        ul{
            font-size: large;
        }
    }
}