.topBar{
    
    background-color: #FDA300;


    ul{
        margin: unset;
        padding: unset;
        list-style: none;
    }


    .socialContainer {
        .socialLink {
        color: black;
        margin:  .5em;
        cursor: pointer;

        &:hover{
            color: white;
        }
        
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 1280px) {   
    .topBar{
        display: none;
    }
}


