.blogTitle{
    font-size: xxx-large;
    margin-top: .1px;
    margin-bottom: .1px;
    
}

.categoryBoxSmallPost{
    button{
        color: white;
        background-color: black;
        margin-top: .5em;
        padding: 0.1em 1em;
        text-transform:capitalize;
        font-size: medium;
        font-weight: bold;
        border: none;
        
            
        &:hover{
            background-color: #FDA300;
        }
    }
}

.authorNameBlog{
    color: pink;
    margin: 0;
}

.blogDescription{
    font-size: large;
    font-weight: normal;
    font-style: italic;
    margin-top: .1px;
    
}

.blogContentContainer{
    font-size: large;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 3em;
}

.featuredPostsBlog{
    font-size: x-large;
}

@media  screen and (max-width: 1280px) {

    .featuredPostsBlog{
        display: none;
    }

    img{
        width: 95%;
        height: 70%;
    }

    .blogContentContainer{
        font-size: normal;
    }

    .blogTitle{
        font-size: xx-large;
    }
 }


 @media  screen and (max-width: 730px) {

    .blogContentContainer{
        margin-left: .5em;
        margin-right: .5em;
    }

    
 }


