.categoryPreview {
    margin: 2em 0;
    padding: 1em;
    transition: all 0.31 cubic-bezier(0.25, 0.8,0.25,1);

    h3{
        margin-top: unset;
        font-size: x-large;
    }

    p {
        margin-bottom: unset;
        font-size: large;
    }

    .categoryPreviewImage{
        width: 100%;
        height: 100%;
    }
    
    .categoryPreviewBox{
        p{
            color: white;
            background-color: black;
        }
    }
}


@media  screen and (max-width: 960px) {

   .postPreview{
       padding: auto;
   }
}