.postPreview {
    margin: 2em 0;
    padding: 1em;
    background: white;
    transition: all 0.31 cubic-bezier(0.25, 0.8,0.25,1);

    h3{
        margin-top: unset;
    }

    p {
        margin-bottom: unset;
    }
    
}


@media  screen and (max-width: 960px) {

   .postPreview{
       padding: auto;
   }


}